* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgb(241, 250, 243);
}
.header {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2.5px 0.5px  black;
    margin-bottom: 40px;
}
.header ul {
    display: flex;
}
h1 {
    font-size:  10rem;;
    font-family: fantasy;
    font-weight: lighter;
}
.header ul li {
    padding: 0rem 2rem;
    list-style: none;
    text-decoration: none;
}
.logo {
    min-height: auto;
    max-height: 120px;
    margin-left: 2rem;
}
a {
    text-decoration: none;
    font-size: 2rem;
    color: #999;
}
.content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content form {
    padding: 4rem 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 2.5px 2px  black;
    background-color: rgb(234, 252, 239);
}
.content form label {
    padding: 0.5rem 0rem;
    font-size: 1.5rem;
    font-family: fantasy;
    
}
.content form input {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(241, 250, 243);
}
.content form button {
    margin-top: 1rem;
    padding: 0.5rem 0rem;
    background-color: rgb(22, 59, 1);
    border-radius: 5px;
    box-shadow: 1px 2px 2.5px 2px  black;
    color: #fff;
}